body{

font-family: system-ui;
background:#0f0f12;
color:white;
margin:0;

}

header{

padding:20px;
text-align:center;

}

#search{

padding:12px;
width:80%;
border-radius:10px;
border:none;
font-size:16px;

}

.season{

margin:20px;

}

.season-title{

font-size:20px;
cursor:pointer;

padding:15px;
background:#1c1c22;
border-radius:12px;

}

.episodes{

display:none;

margin-top:10px;

}

.episode{

display:flex;
justify-content:space-between;
padding:12px;

background:#1a1a20;
margin-bottom:6px;
border-radius:8px;

cursor:pointer;

}

.episode:hover{

background:#26262f;

}

.watched{

opacity:.5;

}


/* PLAYER */

#player-modal{

position:fixed;
inset:0;

background:rgba(0,0,0,.9);

display:none;

align-items:center;
justify-content:center;

}

.player-box{

width:90%;
max-width:900px;

}

video{

width:100%;

}

#close-player{

background:none;
border:none;
color:white;
font-size:30px;

cursor:pointer;

}
